<html>
	<head>
		<title>{{title}} - WHMGR</title>
		<link rel='stylesheet' type='text/css' href='/dist/bootstrap.min.css'>
		<link rel='stylesheet' type='text/css' href='/css/whmgr.core.css'>

		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js'></script>

		<link rel="icon" href="/img/whmgr-favicon.png" type="image/gif">
	</head>
	<body>
		{{#unless pre_login}}
			<style>html, body{background-color: white;}</style>
			<nav class='navbar navbar-default'>
				<a href='/' class='navbar-brand'>
					<img src='/img/whmgr-logo.png' height='100%'>
				</a>
				<ul class='nav navbar-nav pull-right'>
					<li>
						<a href='/auth/logout'>
							Logout
						</a>
					</li>
				</ul>
			</nav>
			<div class=''>
				<div class='col-md-8'>
					{{{body}}}
				</div>
				<div class='col-md-4'>
					<div class='panel panel-default'>
						<div class='panel-heading'>About this server</div>
						<div class='panel-body'>
							{{{get_server_info}}}
						</div>
					</div>
					{{#if admin_loggedin}}
						<div class="panel panel-default">
							<div class='panel-heading'>WHMGR Administration</div>
							<div class='panel-body'>
								<img src='/img/whmgr-logo-dark.png' width='40%'>
								<br><br>
								{{#if client_username}}
									<h3>Using Client Account: <b>{{client_username}}</b></h3>
								{{/if}}
								<form action='/auth/change-client' method='post'>
									<div class='form-group'>
										<label>Change Client Account</label>
										<select name='account' class='form-control'>
											{{#each clients}}
												<option value='{{username}}' default>
														{{username}}
													</option>
											{{/each}}
										</select>
									</div>
									<div class='form-group'>
										<input type='submit' class='btn btn-primary pull-right' value='Change Client'>
									</div>
								</form>
							</div>
						</div>
					{{/if}}
				</div>
			</div>
		{{/unless}}
		{{#if pre_login}}
			{{{body}}}
		{{/if}}
	</body>
</html>
